.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
  ;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.addHandler1 {
  width: 100%;

}

.addHandler2 {
  width: 100%;

}

.addHandler3 {
  width: 100%;

}

.addHandler4 {
  width: 100%;

}

.app-table {
  width: 20px;
}


input[type=text] {
  width: 100%;
  box-sizing: border-box
}

input[type=number] {
  width: 100%;
  box-sizing: border-box
}

